{% extends 'base.html.twig' %}

{% block title %}Hello FicheContactController!{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                {{ form(formContact) }}
            </div>

        </div>
    </div>
{% endblock %}
